body{margin: 0;
    -webkit-text-size-adjust: 100%;} 
    /* viewport指定時の「スマホ画面横向き変更時」の「iPhoneiOS（Safari）での文字拡大」を防止」*/
/* ヘッダー画像 */
.topimg {width: 100%;
        height: auto;
        vertical-align: bottom;
        border: 21px solid olive;
        box-sizing: border-box;}
.box4{background-color: silver;}
/* パーツ縦方向の調整　 */
.box4 {padding-top: 20px;
       padding-bottom: 20px;}
ol{margin-left: -30px;} 
.box5{margin-top: -24px;}
/* ulの左端を揃えたまま中央揃え　 */
.ul-align-center{display: flex;
                align-items: center;
                flex-direction: column;}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
　　　　　　　table 
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
table{
    width: 100%;
    white-space: pre-line;
    border-collapse:separate;
    border-spacing: 0;
}
table th:first-child{
    border-radius: 5px 0 0 0;
}
table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}
table th{
    font-family: Kaiti SC;
    text-align: center;
    color:rgb(221, 232, 238);
    background: rgb(62,58,58);
    border-left: 1px solid #777474;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
    padding: 10px 0;
}
table td{
    border-left: 1px solid #000000;
    border-bottom: 1.5px solid #000000;
    border-top:none;
    padding: 10px 0;   
}
table td:last-child{border-right: 1px solid #000000;}
table tr:last-child td:first-child {border-radius: 0 0 0 5px;}
table tr:last-child td:last-child {border-radius: 0 0 5px 0;}
table tr:nth-child(odd) {background-color: silver;} /*（偶数行配色）*/
table tr:nth-child(even) {background-color: rgb(156, 154, 154);} /*（奇数行配色）*/
table{color: #2c2c2f;} /*（フォント）*/
.en-font{
    font-family: Andale Mono;
    font-size:20px;
} 
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー
　　　　　　フォント　 icon
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
h3{font-family: ヒラギノ角ゴ ProN W3;}
li{list-style: none;}
.icon{color:beige;}
h3{background-color: #2c2c2f;
       color: beige;}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　　 599px 以下　(sp)
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (max-width: 599px) {
    .pc_table{display: none;}
    .ipd_table{display: none;}
    .sp_font {font-size: 20px;}
    .sp_pdl10{padding-left: 10px;}   
    .sp_mgl27{margin-left: 27px;}
  　 ol > li {padding-left: 30px;}/* リンク行の左詰まりを解消 */
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　  600px〜
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
@media (min-width: 600px){  
    h3{background-color: #2c2c2f;
        color: beige;}  
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　　600-1040px 
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 600px) and (max-width: 1040px){
    .box4-1 h3{font-size: 13px;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　 〜　767px  
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (max-width: 767px) {
    .pc_img {display: none;}
    .setting{display: none;}
    ol{padding-left: 65px;}
    .setting_br {display: none;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　　　　768px 〜 
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 768px){
    .box4 {display: block;
           background-color: #2c2c2f;}  
    .box4-1 {padding: 0.5em  5px;
            margin: 0 10px;
            color: #2c2c2f;
            background-color: silver;
            display: inline-block;
            border-radius: 5px;
            height: atuo;}   
    h3{background-color: #2c2c2f;
    　　color: beige;}
    .box4-1 h5 {margin-top: 30px;
        　　　　　margin-bottom: 20px;}
    .mgr10 {margin-right: 10px;}
    /* フレキシブルボックス */
    .box4 {display: flex;}
    .box4 {display: -webkit-flex;}
    .box4-1 {width: 25%;}
    .sp_img{display: none;}
    ul{padding-left: 0px;}
    .mgr50{margin-right: 50px;}
    .mgl50{margin-left: 50px;}
    .mgl20{margin-left: 20px;}
    .mgl10{margin-left: 10px;}
.a_center{text-align: center;}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　   768-1024  ipad -ipadPro 
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 768px) and (max-width: 1024px){
    .sp_table{display: none;}
    .pc_table{display: none;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　        1026 〜
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 1026px){
        li{margin-left: 30px;}  /* リスト中央揃え */
        .ipd_table{display: none;}
        .sp_table{display: none;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　　      1041-1222px  
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 1041px) and (max-width: 1222px){
    .box4-1 h3{font-size: 16px;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　       1161~
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 1161px) {
    .setting_br {display: none;}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　      1303~
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (min-width: 1303px) {
    .month_br{display: none;}
    .big_mgl31{margin-left: 31px;}
}