<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="../assets/css/table.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    {{ template "header" }}

    welcome
    {{if .user }}
    , {{.user.Nickname}}
    {{end}}
    !

    <br><br>

    <h2><i class="fa fa-hand-o-right fa-lg mycolor-navy" aria-hidden="true" ></i>
        アプリの使い方</h2>

    <ol>
        <li>会員登録をする</li>
        <li> <a href="/user/my_page">Users>MyPage</a>にて<i class="fa fa-arrow-right" aria-hidden="true"></i>下記を設定する
            <ul>
                <li><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i><span class="mgl-10">My Profile（自己紹介）</span></li>
                <li><span class="mgr-50"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i><span class="mgl-10">Goal</span></span><span class="mgr-100">（あなたの目標)</span>：複数設定可能</li>
                <li><span class="mgr-50"><span class="mgr-50"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i><span class="mgl-10">Todo</span></span>(目標達成のために必要なこと)：複数設定可能</li><br>
            </ul>
        <li><a href="_monthly_plans">Monthly Plan</a>にて<span class="mgl-20"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>月次の目標を設定する</li>
        <li><a href="_daily_kpts">Daily Kpts</a>にて<span class="mgl-40"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>日々振り返りを行う</li>
    </ol>

    <h2><i class="fa fa-hand-o-right fa-lg mycolor-navy" aria-hidden="true" ></i><span class="mgl-10">ご意見フォーム</span></h2>

    <a href="https://docs.google.com/forms/d/1_eKw5lRw_igPTVTgL5uXnBJL6oLvpbPqIi54_0c0lOo/edit">Google Form</a>

    <h2><i class="fa fa-hand-o-right fa-lg mycolor-navy" aria-hidden="true" ></i><span class="mgl-10">目標を達成するために</span></h2>

    <h3>目標の立て方</h3>
    <ul>
        <li><i class="fa fa-arrow-circle-down fa-lg"  aria-hidden="true"></i><span class="mgl-10">課題の洗い出し</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>ステップ形式にし、細分化</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>現実的・具体的・明確的に</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>達成度が定量評価できる目標に。（数値的に評価できる）</span>　</li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>期限の設定</span></li>
    </ul>

    <h3>目標を立てたあと</h3>
    <ul>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>周りに共有し、自分にプレッシャーをかける</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>行動を継続</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>記録</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>行動の振り返り</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>ご褒美</span></li>
        <li><i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i><span class="mgl-10"></span>達成時のメリットを可視化</span></li>
    </ul>

    <br><br>

    <table>
        <tr>
            <th></th>
            <th>物 <span class="en-font">what</span></th>
            <th>環境 <span class="en-font">when/where</span></th>
            <th>選択 <span class="en-font">which</span></th>
            <th>人 <span class="en-font">who</span></th>
            <th>方法 <span class="en-font">how</span></th>
        </tr>
        <tr>
            <td>現在<span class="mgl-10">is</span>
                    <span class="mgl-40">/does</span>
            </td>
            <td>今どんな運動をしている？</td>
            <td>今どこで運動してる？</td>
            <td>どちらがいい？有酸素運動/無酸素運動</td>
            <td>今誰と運動している？</td>
            <td>今どうやって、運動している？</td>
        </tr>
        <tr>
            <td>過去 <span class="mgl-10">was</span>
                <span class="mgl-40">/did</span></td>
            <td>過去どんな運動をしていた？</td>
            <td>過去どこでしていた？</td>
            <td>どちらが好きだった？有酸素運動/無酸素運動</td>
            <td>過去誰としていた？</td>
            <td>過去どうやって、していた？</td>
        </tr>
        <tr>
            <td>可能 <span class="mgl-10">can</span></td>
            <td>どんな運動が可能？</td>
            <td>他にどこで出来る？</td>
            <td>どちらが続けやすい？有酸素運動/無酸素運動</td>
            <td>誰と出来る？</td>
            <td>どうやって、出来る？</td>
        </tr>
        <tr>
            <td>推量 should<br><span class="mgl-40">/would</span></td>
            <td>健康のためにどんな運動をすべき？</td>
            <td>どこですべき？</td>
            <td>どちらをやるべき？有酸素運動/無酸素運動</td>
            <td>誰とすべき？</td>
            <td>どうやって、すべき？</td>
        </tr>
        <tr>
            <td>未来 <span class="mgl-10">will</span></td>
            <td>どんな運動をしてみたい？</td>
            <td>どこでしたい？</td>
            <td>今後の健康の為にどちらがいい？有酸素運動/無酸素運動</td>
            <td>誰としたい？</td>
            <td>どうやって、したい？</td>
        </tr>
        <tr>
            <td>想像 might</td>
            <td>どんな運動が面白そう？</td>
            <td>どこで出来そう？</td>
            <td>どちらかがデメリットを及ぼす恐れは？<br>有酸素運動/無酸素運動</td>
            <td>一緒にしてくれる人<br>を探すには？</td>
            <td>良いやり方を教わるには？</td>
        </tr>
    </table>


    {{/*{{ template "footer" }}*/}}
</body>

</html>
